.container{
    display: flex;
    gap: 10px;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 70vh;
    font-style: bold;
}
.item{
    width: 20vw;
    height: 20vh;
    flex-basis: 100px;
}
.red{
    background-color: red;
    order:1;
    /* align-self: flex-start */ /*specific change hunxa matlab red dibba*/
    align-self: flex-end;
}
.blue{
    background-color: blue;

}
.green{
    background-color: green;
}